* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "roboto";
  width: 1220px;
  background: rgb(60, 60, 60);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.title {
  font-size: 35px;
  color: white;
  margin: 50px 0;
}

h1 {
  font-size: 25px;
}

p {
  font-size: 17px;
}

.list {
  width: 1000px;
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  border: 3px solid white;
  border-radius: 20px;
  box-shadow: 0 0 15px white;
  padding: 20px 60px;
}

.list-item {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  background: grey;
  box-shadow: 0 0 10px white;
  color: white;
  border-radius: 10px;
  margin: 20px;
  width: 250px;
  height: 320px;
  transition: all 0.7s ease;
}

.list-item:hover {
  transform: translateY(-10px);
  transition: all 0.7s ease;
  box-shadow: 0 0 20px rgb(129, 129, 255);
}

.btn {
  padding: 10px 30px;
  background: rgb(129, 129, 255);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease;
  margin: 20px 0;
  box-shadow: 0 0 10px rgb(129, 129, 255);
}

.btn:hover {
  background: white;
  color: rgba(129, 129, 255);
  box-shadow: 0 0 10px white;
}
.loader {
  margin-top: 150px;
  width: 60px;
  aspect-ratio: 1;
  display: grid;
  border-radius: 50%;
  background:
    linear-gradient(0deg, rgb(0 0 0/50%) 30%, #0000 0 70%, rgb(0 0 0/100%) 0)
      50%/8% 100%,
    linear-gradient(90deg, rgb(0 0 0/25%) 30%, #0000 0 70%, rgb(0 0 0/75%) 0)
      50%/100% 8%;
  background-repeat: no-repeat;
  animation: l23 1s infinite steps(12);
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  background: inherit;
  opacity: 0.915;
  transform: rotate(30deg);
}
.loader::after {
  opacity: 0.83;
  transform: rotate(60deg);
}
@keyframes l23 {
  100% {
    transform: rotate(1turn);
  }
}
